body {
	background:#2f2f2f;
}

.night.theme.container-fluid {
	padding-right:0;
	padding-left:0;
}

.day.theme.container-fluid {
	padding-right:0;
	padding-left:0;
}

.night.theme ul, .night.theme li {
	color:white;
}

.day.theme ul, .day.theme li {
	color:black;
}

.night.theme a {
	font-size:15px;
	color: white;
	text-decoration: none;
}

.day.theme a {
	font-size:15px;
	color: black;
	text-decoration: none;
}

a:focus, a:hover {
	color: white;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.night.theme h1 {
	color:white;
	font-size:18px;
	margin:37px 0 21px 0;
}

.day.theme h1 {
	color:black;
	font-size:18px;
	margin:37px 0 21px 0;
}

img {
	max-width:100%;
}

.night.theme div {
	color:white;
	font-size:15px;
}

.day.theme div {
	color:black;
	font-size:15px;
}

.night.theme p {
	color:white;
	font-size:15px;
}

.day.theme p {
	color:black;
	font-size:15px;
}

.night.theme span {
	font-size:15px;
	color:white;
}

.day.theme span {
	font-size:15px;
	color:black;
}

.menu {
	font-size:15px;
}

.night.theme .post-by span {
	float:right;
	font-size:13px;
	color:#89dcfe;
	margin-top:1px;
}

.day.theme .post-by span {
	float:right;
	font-size:13px;
	color:#166ec8;
	margin-top:1px;
}

.navbar {
	padding:4px 0 0 0;
	text-align:center;
	min-height:35px;
}

.night.theme .navbar-brand {
    font-size: 18px;
    float:none;
}

.day.theme .navbar-brand {
    font-size: 18px;
    float:none;
}

.night.theme .navbar-dark .navbar-brand {
  color: black;
}

.day.theme .navbar-dark .navbar-brand {
  color: white;
}

.night.theme .navbar-dark .navbar-brand:focus,
.night.theme .navbar-dark .navbar-brand:hover {
  color: black;
}

.day.theme .navbar-dark .navbar-brand:focus,
.day.theme .navbar-dark .navbar-brand:hover {
  color: white;
}

.night.theme .navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5);
}

.day.theme .navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

.night.theme .navbar-dark .navbar-nav .nav-link:focus,
.night.theme .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, .75);
}

.day.theme .navbar-dark .navbar-nav .nav-link:focus,
.day.theme .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .75);
}

.night.theme .navbar-dark .navbar-nav .open > .nav-link, 
.night.theme .navbar-dark .navbar-nav .open > .nav-link:focus, 
.night.theme .navbar-dark .navbar-nav .open > .nav-link:hover,
.night.theme .navbar-dark .navbar-nav .active > .nav-link,
.night.theme .navbar-dark .navbar-nav .active > .nav-link:focus,
.night.theme .navbar-dark .navbar-nav .active > .nav-link:hover,
.night.theme .navbar-dark .navbar-nav .nav-link.open,
.night.theme .navbar-dark .navbar-nav .nav-link.open:focus,
.night.theme .navbar-dark .navbar-nav .nav-link.open:hover,
.night.theme .navbar-dark .navbar-nav .nav-link.active,
.night.theme .navbar-dark .navbar-nav .nav-link.active:focus,
.night.theme .navbar-dark .navbar-nav .nav-link.active:hover {
  color: black;
}

.day.theme .navbar-dark .navbar-nav .open > .nav-link, 
.day.theme .navbar-dark .navbar-nav .open > .nav-link:focus, 
.day.theme .navbar-dark .navbar-nav .open > .nav-link:hover,
.day.theme .navbar-dark .navbar-nav .active > .nav-link,
.day.theme .navbar-dark .navbar-nav .active > .nav-link:focus,
.day.theme .navbar-dark .navbar-nav .active > .nav-link:hover,
.day.theme .navbar-dark .navbar-nav .nav-link.open,
.day.theme .navbar-dark .navbar-nav .nav-link.open:focus,
.day.theme .navbar-dark .navbar-nav .nav-link.open:hover,
.day.theme .navbar-dark .navbar-nav .nav-link.active,
.day.theme .navbar-dark .navbar-nav .nav-link.active:focus,
.day.theme .navbar-dark .navbar-nav .nav-link.active:hover {
  color: white;
}

.night.theme .navbar-dark .navbar-divider {
  background-color: rgba(0, 0, 0, .075);
}

.day.theme .navbar-dark .navbar-divider {
  background-color: rgba(255, 255, 255, .075);
}

.night.theme .bg-inverse {
  color: #000;
  background-color: #89dcfe;
}

.day.theme .bg-inverse {
  color: #fff;
  background-color: #166ec8;
}

.night.theme .column-one {
	float:left;
	background:#230f2e;
	color:white;
}

.day.theme .column-one {
	float:left;
	background:#fff;
	color:white;
}

.inner-column-one {
	padding:24px 78px 24px 78px;
}

.grid-box-1 {
	padding:0 4px 4px 0;
}
.grid-box-2 {
	padding:0 0 4px 4px;
}
.grid-box-3 {
	padding:4px 4px 0 0;
}
.grid-box-4 {
	padding:4px 0 0 4px;
}

@media (min-width: 34em) {
	.navbar {
	    border-radius: 0;
	}
}

@media (max-width:536px) {
	.navbar, .column-one {
		width:100%;
	}
}

@media (max-width:400px) {
	.inner-column-one {
		padding:10px;
	}
}

@media (min-width:537px) {
	.navbar, .column-one {
		width:520px;
	}
}