<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="/pages/typography.html">Typography</a></li>
	<li><a href="/pages/photos.html">Photos</a></li>
	<li><a href="/pages/links.html">Links</a></li>
	<li><a href="/pages/navigation.html">Navigation</a></li>
</ul>