<h1>What is Lorem Lpsum?</h1>
<div>
	<div class="col-xs-6 grid-box-1">
		<img src="assets/images/building.png" />
	</div>
	<div class="col-xs-6 grid-box-2">
		<img src="assets/images/building.png" />
	</div>
	<div class="col-xs-6 grid-box-3">
		<img src="assets/images/building.png" />
	</div>
	<div class="col-xs-6 grid-box-4">
		<img src="assets/images/building.png" />
	</div>
</div>
<div class="post-by clearfix">
	<span>Post by James Star</span>
</div>